#home {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #referral {
    display: flex;
    flex-direction: row;
    width: 100%;

    .referral-half {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      border-radius: 1rem;
      border: 1px solid black;
      padding: 2rem;
    }
  }
}
