#quote-form-container {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  h2 {
    font-size: 3rem;
    font-weight: bold;
  }

  .quote-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 500px;
    max-width: 500px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }

  input {
    padding: .5rem;
    border: 2px solid #e4e4e4;
    border-radius: .5rem;
  }

  #zip {
    &:hover {
      cursor: not-allowed;
    }
  }

  .disclosure {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .disclosure-row {
      display: flex;
      align-items: flex-start;
      gap: .5rem;
      line-height: 1.2;

      .disclosure-icon {
        width: 5%;
      }

      p {
        width: 95%;
        font-size: .9rem;
      }
    }
  }

  .checkbox-label {
    flex-direction: row;
    align-items: center;

    input {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .step2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .two-col {
    display: flex;
    gap: 2rem;

    label {
      width: 50%;
    }

  }

  .form-btm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
