#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 130px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: .75rem 1.5rem;
    border-radius: 10rem;
  }
}
